<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>SQL Media Comparer</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="container">
        {{if .OrigImg}}
        <div class="orig-image"><h4>Original</h4><img src="static/temp/{{.OrigImg}}"></div>
        <div class="pg-image"><h4>Postgres</h4><img src="static/temp/{{.PgImg}}"></div>
        <div class="mq-image"><h4>MySQL</h4><img src="static/temp/{{.MyImg}}"></div>
        {{end}}
        
        <div class="retrieve">
            <select id="images">
            {{if .Imgs}}
                {{range $i , $img := .Imgs}}
                <option value="{{$img}}">{{$img}}</option>
                {{end}}
            {{end}}
            </select>
            <button id="submit_r" type="submit">Retrieve Image</button>
        </div>

        <form class="upload" action="/upload" method="post" enctype="multipart/form-data">
            <label for="image">Image: </label><input name="image" id="image" type="file"><br>
            <input id="submit_u" type="submit" value="Upload Image">
        </form>
        
    </div>
</body>
<script>
document.getElementById("submit_u").addEventListener("click", function(event){
    event.preventDefault();
    submit("/upload");
});
document.getElementById("submit_r").addEventListener("click", function(event){
    event.preventDefault();

    s = document.getElementById("images");
    data = "{\"images\":\""+s.options[s.selectedIndex].value+"\"}";

    xhr = new XMLHttpRequest()
    xhr.open("POST", "/retrieve");
    xhr.send(data);
});

function submit(url) {
    data = new FormData(document.querySelector('form'));
    xhr = new XMLHttpRequest()
    xhr.open("POST", url);
    xhr.send(data);
}
</script>
</html>